body {
    font-family: FranklinGothic_medium, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #2f2167;
    position: fixed;
    z-index: 4;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: coming_logo 2s ease;
    -o-animation: coming_logo 2s ease;
    animation: coming_logo 2s ease;
    font-family: FranklinGothic_medium, sans-serif;
}

@media (max-width: 570px) {
    .logo {
        font-size: 16px;
        z-index: 3;
    }
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    transform: scale(1);
    -webkit-animation: coming_menu 2s forwards;
    -o-animation: coming_menu 2s forwards;
    animation: coming_menu 2s forwards;
    opacity: 0;
    font-family: FranklinGothic_regular, sans-serif;
}

.menu li a {
    transition: all 0.1s;
    color: #fff;
    text-decoration: none;
}

.menu li a:visited {
    color: #fff;
}

.menu li a:hover {
    color: #ff1e97;
    display: inline-block;
    transform: scale(1.2);
}

.wht_btn:visited {
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/foto.png) 80% 100%/auto 87% no-repeat, url(../img/background.png) center/cover no-repeat;
}

.title__container {
    float: left;
    color: #2f2167;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: hello 1s ease forwards;
    -o-animation: hello 1s ease forwards;
    animation: hello 1s ease forwards;
    -webkit-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.title__container > h1 {
    font-family: FranklinGothic_medium, sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-top: 150px;
}

.title__container > h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #a799e1;
    font-weight: bold;
    font-family: FranklinGothic_regular, serif;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #2f2167;
    background: none;
    border-radius: 5px;
    color: #2f2167;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transform: scale(1);
    transition: all 0.2s;

}

.title__container input:hover {
    background-color: #2f2167;
    color: #fff;
}

.title__container input:active {
    transform: scale(1.2);
}

@keyframes coming_logo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes coming_menu {
    from {
        margin-top: -100px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.8s;
}

.menu li:nth-child(5) {
    animation-delay: 1.2s;
}

.menu li:nth-child(6) {
    animation-delay: 1.6s;
}

@keyframes hello {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 995px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: white;
        position: relative;
        z-index: 2;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }

    .title__container input {
        border: 2px solid #fff;
    }
}

.about {
    height: 720px;
}

.about h2 {
    font-size: 33px;
    margin: 110px 0 30px;
    text-transform: uppercase;
    color: #2f2167;
}

.about hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0px auto 60px;
    opacity: 1;
}

.about img {
    transform: scale(1);
}

.about img:hover {
    transform: scale(2);
}

.about_text {
    font-size: 18px;
    font-family: Calibri, sans-serif;
}

.about input {
    height: 32px;
    border: 2px solid;
    background: none;
    border-radius: 5px;
    color: #2f2167;
    font-size: 13px;
    padding: 0px 16px;
    transform: scale(1);
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.about input:hover {
    display: inline-block;
    background-color: #2f2167;
    color: #fff;
}

.about input:active {
    transform: scale(1.1);
}

@media (max-width: 570px) {
    .about h2 {
        margin-top: 30px;
    }
    
    .about hr{
        margin-top: -20px;
    }

    .about img {
        margin-top: -45px;
    }
}

.skills {
    background: url(../img/background2.png) center/cover no-repeat;
    padding-top: 110px;
    padding-bottom: 96px;
}

.skills h2 {
    text-align: center;
    font-size: 33px;
    margin: 0px auto 30px;
    text-transform: uppercase;
    color: #2f2167;
    font-weight: 600;
}

.skills hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0 auto 100px;
    opacity: 1;
}

.skills h4 {
    color: #ff1e97;
    font-size: 18px;
    margin-bottom: 20px;
}

.skills img {
    margin-bottom: 20px;
    height: 40px;
}

@media (max-width: 1235px) {
    .site {
        width: 80%;
    }
}

.skills p {
    font-size: 16px;
    font-family: Calibri, serif;
}

.case {
    padding-top: 110px;
    padding-bottom: 100px;
}

.case_container h2 {
    font-size: 33px;
    color: #2f2167;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;

}

.case_container hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;
}

.case_container p {
    font-size: 16px;
    margin-bottom: 40px;
    font-family: Calibri, serif;
}

.case_container img {
    margin-bottom: 40px;
}

.case input {
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    transform: scale(1);
    background: #66b5ae;
    margin-top: 20px;
}

.case a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: Calibri, serif;
}

.case a:hover {
    display: inline-block;
    color: #66b5ae;
}

.case input:active {
    transform: scale(1.1);
    background-color: #66b5ae;
}

.case input:visited {
    background-color: #66b5ae;
}

@media (max-width: 920px) {
    .brief {
        display: none;
    }

    .case_info {
        text-align: justify;
    }
}

.price {
    padding-bottom: 84px;
}

.price h2 {
    text-align: center;
    font-size: 33px;
    margin: 0px auto 30px;
    text-transform: uppercase;
    color: #2f2167;
    font-weight: 600;
}

.price div {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.price > div h4 {
    word-spacing: 12px;
    color: #2f2167;
    font-weight: 600;
}

.price div select {
    border: 1px solid #e1e1e1;
    background: rgba(47, 33, 103, 0.1);
    height: 57px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 44px;
}

.price hr {
    height: 2px;
    border: none;
    background: rgba(47, 33, 103, 0.4);
    margin: 0 auto 24px;
    opacity: 1;
}

.price_btn input{
    background-color: rgba(47, 33, 103, 0.7);
}

.price_btn input:hover{
    background-color: #2f2167;
}

.statistics {
    width: 100%;
    background: url(../img/bg_site.png) center/cover no-repeat;
    padding-bottom: 96px;
}

.statistics h2 {
    text-align: center;
    color: #2f2167;
    font-size: 33px;
    padding-top: 70px;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
}

.statistics hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0 auto 100px;
    opacity: 1;
}

.statistics img {
    margin-bottom: 25px;
}

.statistics h {
    font-size: 33px;
    font-weight: 600;
}

.statistics p {
    font-size: 25px;
    font-weight: 500;
}

.feedback {
    padding-top: 100px;
}

.feedback h2 {
    text-align: center;
    font-size: 33px;
    color: #2f2167;
    text-transform: uppercase;
    padding-bottom: 35px;
    font-weight: 700;
}

.feedback hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0px auto 60px;
    opacity: 1;
    font-weight: 700;
}

.feedback p {
    padding-top: 35px;
    font-size: 20px;
    font-family: Calibri, serif;
}

.points {
    padding-top: 50px;
}

.my_contact {
    margin-top: 92px;
    background: url(../img/background3.png) center/cover no-repeat;
}

.my_contact h2 {
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 105px;
    padding-bottom: 30px;
    font-weight: 700;
}

.my_contact hr {
    height: 4px;
    border: none;
    background: #ff1e97;
    width: 80px;
    margin: 0px auto 30px;
    opacity: 1;
}

.my_contact p {
    color: #fff;
    font-size: 18px;
    font-family: Calibri serif;
}

.fa {
    display: block;
    color: #fff;
}

.brief i {
    margin-bottom: 10px;
    
}

.my_info a {
    color: #fff;
    margin-top: -15px;
    display: block;
    text-decoration-line: none;
    font-size: 18px;
    font-family: Calibri, serif;
}

.text_to_me h4 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 45px;
}

#button {
    display: block;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    transform: scale(1);
    transition: all 0.4s;
    margin-top: 30px;
    margin-bottom: 120px;
    font-family: Calibri, serif;
}

#button:hover {
    background-color: #2f2167;
    color: #fff;
    transform: scale(1.2);
}

.text_area {
    margin-top: 10px;
}

footer {
    background: #2f2167;
    height: 94px;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
}
